---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const date = new Date();
let hour = date.getHours();
let min = date.getMinutes();
if (hour < 10) {
	hour = `0${hour}`;
}
if (min < 10) {
	min = `0${min}`;
}
---

<Layout title="Facundo Ramos Garde || Dev">
	<main class="copp p-9">
		<div class="aside-header bg-[#1d1c20] rounded-2xl p-5 border border-[#ffffff18]">
			<picture class="">
				<img src="./facufirl.JPEG" class="rounded-full fotoFacu w-[200px] mx-auto mb-9" alt="">
			</picture>
			<h1 class="text-white text-2xl mb-1">Facundo Ramos Garde</h1>
			<h4 class="text-[#909091] frontEnd mb-4">Front-End Developer</h4>
			<p class="text-[#ddd] mb-9">Innovative software engineer crafting digital solutions, merging code and vision to challenge technological frontiers.</p>
			<a href="https://www.linkedin.com/in/facundo-ramos-garde-791a55280/" class="inline-block" target="_blank">
				<svg fill="#ffffff" 
					height="35px" 
					width="35px" 
					class="hover:fill-[#0077b5]"  
					version="1.1" 
					id="Layer_1"
					xmlns="http://www.w3.org/2000/svg" 
					xmlns:xlink="http://www.w3.org/1999/xlink" 
				viewBox="0 0 455 455" xml:space="preserve">
					   <g>
						   <path style="fill-rule:evenodd;clip-rule:evenodd;" d="M246.4,204.35v-0.665c-0.136,0.223-0.324,0.446-0.442,0.665H246.4z"/>
						   <path style="fill-rule:evenodd;clip-rule:evenodd;" d="M0,0v455h455V0H0z M141.522,378.002H74.016V174.906h67.506V378.002z
							M107.769,147.186h-0.446C84.678,147.186,70,131.585,70,112.085c0-19.928,15.107-35.087,38.211-35.087
							   c23.109,0,37.31,15.159,37.752,35.087C145.963,131.585,131.32,147.186,107.769,147.186z M385,378.002h-67.524V269.345
							   c0-27.291-9.756-45.92-34.195-45.92c-18.664,0-29.755,12.543-34.641,24.693c-1.776,4.34-2.24,10.373-2.24,16.459v113.426h-67.537
							   c0,0,0.905-184.043,0-203.096H246.4v28.779c8.973-13.807,24.986-33.547,60.856-33.547c44.437,0,77.744,29.02,77.744,91.398V378.002
							   z"/>
					   </g>
				   </svg>
			</a>
			<a href="https://github.com/FacuRamosG" target="_blank" class="inline-block hover:invert ml-5"><img src="./github-mark-white.png" alt="" height="35" width="35"></a>
			<a href="./CVFacundoRamosGarde.pdf" class="inline-block ml-5 hover:invert" target="_blank" download >
				<svg xmlns="http://www.w3.org/2000/svg"
					 class="icon icon-tabler icon-tabler-file-cv scale-[1.15]" 
					 width="35px" 
					 height="35px" 
					 viewBox="0 0 24 24" 
					 stroke-width="2" 
					 stroke="white" 
					 fill="none" 
					 stroke-linecap="round" 
					 stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 3v4a1 1 0 0 0 1 1h4" /><path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" /><path d="M11 12.5a1.5 1.5 0 0 0 -3 0v3a1.5 1.5 0 0 0 3 0" />
						<path d="M13 11l1.5 6l1.5 -6" />
				</svg>
			</a>
		</div> 
		
		
		<div class="top-header bg-[#1d1c20] border border-[#ffffff18] rounded-2xl p-5 flex justify-center items-center">
			<h1 class="text-7xl text-white font-bold nombre">Front-end Developer</h1>
		</div>

		<div class="time bg-[#1d1c20] border border-[#ffffff18] rounded-2xl p-5 flex justify-center items-center">
			<h1 class="text-7xl font-bold clock">{hour}:{min}</h1>
		</div>

		<a  href="https://facu-flix.vercel.app/" target="_blank" class="facuflix projects h-[375px] text-white rounded-2xl border border-[#ffffff18] p-3">
			<div class="facuclixDescription flex flex-col justify-end h-full p-2">
				<h1 class="text-2xl">FacuFlix</h1>
				<p class="text-[#bbb]">A comprehensive website dedicated to the world of cinema. Thanks to seamless integration with an API, it offers detailed movie information and user-friendly account creation and login features.</p>
			</div>
		</a>
		<a  href="https://landing-tesla-xi.vercel.app/" target="_blank" class="tesla projects border border-[#ffffff18] text-white rounded-2xl p-3">
			<div class="teslaDescription flex flex-col justify-end h-full p-2">
				<h1 class="text-2xl">Tesla</h1>

				<p class="text-[#bbb]">It's a copy of Tesla's page that had several animations I was interested in replicating.</p>
			</div>
		</a>
		<a  href="https://split-bill-ecru.vercel.app/" target="_blank" class="split-bill projects border border-[#ffffff18] text-white rounded-2xl p-3">
			<div class="split-billDescription flex flex-col justify-end h-full p-2">
				<h1 class="text-2xl">Split Bill</h1>

				<p class="text-[#bbb]">Create an application that enables the division of expenses among friends, taking into account various variables.</p>
			</div>
		</a>
		<a  href="https://ecomer-gold.vercel.app/" target="_blank" class="mm projects border border-[#ffffff18] text-white rounded-2xl p-3">
			<div class="mmDescription flex flex-col justify-end h-full p-2">
				<h1 class="text-2xl">Ecomerce</h1>
				<p class="text-[#bbb]">This project aims to reflect everything learned about Next.js while simultaneously creating a page to search for any product on MercadoLibre.</p>
			</div>
		</a>



		<div class="bot-footer bg-[#1d1c20] border border-[#ffffff18] rounded-2xl">
			<div class="grid grid-cols-fluid gap-3 h-full text-white">
				<div class="flex flex-col justify-center items-center gap-1">
					<img src="./html5.svg" alt="logo of HTML" class=" h-16 w-16" />
					<h2 class="text-center">HTML</h2>
				</div>
				<div class="flex flex-col justify-center items-center gap-1">
					<img src="./css3.svg" alt="logo of CSS" class=" h-16 w-16" />
					<h2 class="text-center">CSS</h2>
				</div>
				<div class="flex flex-col justify-center items-center gap-1">
					<img src="./js.svg" alt="logo of JavaScript" class=" h-16 w-16" />
					<h2 class="text-center">JavaScript</h2>
				</div>
				<div class="flex flex-col justify-center items-center  gap-1">
					<img src="./reactjs.svg" alt="logo of React" class=" h-16 w-16" />
					<h2 class="text-center">React</h2>
				</div>
				<div class="flex flex-col justify-center items-center gap-1">
					<img src="./tailwindcss-mark.svg" alt="logo of Tailwind" class="h-16 w-16" />
					<h2 class="text-center">Tailwind</h2>
				</div>
				<div class="flex flex-col justify-center items-center gap-1">
					<img src="./ts-logo-256.svg" alt="logo of TypeScript" class=" h-16 w-16">
					<h2 class="text-center">TypeScript</h2>
				</div>
				<div class="flex flex-col justify-center items-center gap-1">
					<img src="./astro-icon-light.svg" alt="logo of Astro" class=" h-16 w-16" />
					<h2 class="text-center">Astro</h2>
				</div>
				<div class="flex flex-col justify-center items-center gap-1">
					<img src="./next-js.svg" alt="logo of NextJS" class=" h-16 w-16 invert" />
					<h2 class="text-center">Next.js</h2>
				</div>
				
			</div>
		</div>

		<div class="about-me bg-[#1d1c20] border border-[#ffffff18] rounded-2xl p-5">
				<h1 class="text-4xl text-[#7949cb]">About me</h1>
				<p class="text-[#d3d3d6] text-lg m-1">A passionate about programming, football, and sports in general. Coding is my creative language, where I solve complex problems and turn ideas into reality. Beyond the digital world, sports are my escape, where I find excitement and camaraderie.</p>
				<p class="text-[#d3d3d6] text-lg">My restless spirit leads me to explore the world through travel, knowing new cultures and perspectives. I'm always in pursuit of continuous learning, whether it's acquiring new technological skills or delving into fascinating topics. My passion for programming, sports, travel, and learning shapes my balanced approach to life and personal growth.</p>
		</div>
		
	</main>
</Layout>

<style>
	.copp {
		display: grid; 
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
		grid-template-rows: 1fr 1fr 1fr; 
		gap: 15px; 
		grid-template-areas: 
			"aside-header top-header top-header top-header time"
			"aside-header facuflix tesla split-bill mm"
			"aside-header facuflix tesla split-bill mm"
			"bot-footer bot-footer about-me about-me about-me"
			"bot-footer bot-footer about-me about-me about-me"; 

		width: 100%;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		max-height: 920px;
	}
	.frontEnd{
		display: none;
	}
	
	@media (max-width: 1180px) {
		.copp{
			grid-template-columns: 1fr 1fr 1fr 1fr; 
			grid-template-rows: 1fr 1fr 1fr; 
			grid-template-areas: 
			"aside-header top-header top-header top-header"
			"aside-header facuflix split-bill mm"
			"aside-header facuflix split-bill mm"
			"bot-footer bot-footer about-me about-me"
			"bot-footer bot-footer about-me about-me"; 

		}	
		.time{
			display: none;
		}	
		.tesla{
			display: none;
		}
		.facuflix{
			height: 390px;
		}
		.fotoFacu{
			width: 150px;
		}
		
	}
	@media (max-width: 1120px){
		.copp{
			grid-template-columns: 1fr 1fr 1fr 1fr; 
			grid-template-rows: 1fr 1fr 1fr; 
			grid-template-areas: 
			"aside-header top-header top-header top-header"
			"aside-header facuflix split-bill mm"
			"aside-header facuflix split-bill mm"
			"about-me about-me about-me about-me"
			"bot-footer bot-footer bot-footer bot-footer"; 

		}	
	}
	@media (max-width: 1120px){
		.copp{
			display: flex;
			flex-direction: column;
		}
		.frontEnd{
			display: block;
		}
		.top-header{
			display: none;
		}

		.projects{
			min-height: 350px;
		}
		.tesla{
			display: flex;
		}
		.teslaDescription{
			opacity: 1 !important;
	    }
		.mmDescription{
			opacity: 1 !important;
	    }
		.split-billDescription{
			opacity: 1 !important;
	    }
		.facuclixDescription{
			opacity: 1 !important;
	    }
		.facuflix{
			background-image:linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 100%), url('https://porfolio2-0-livid.vercel.app/projects/facuflix.png') !important;
		}
		.tesla{
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			background-image:linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 100%),  url('https://porfolio2-0-livid.vercel.app/projects/tesla.png') !important;
		}
		.split-bill{
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			background-image:linear-gradient(180deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%),  url('https://porfolio2-0-livid.vercel.app/projects/split-bill.jpg') !important;
		}
		.mm{
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			background-image:linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 100%),  url('https://porfolio2-0-livid.vercel.app/projects/mm.jpg') !important;
		}
		main{
			padding-bottom: 5px;
		}
		p{
			font-size: large;
		}
		h1{
			font-size: 2.5rem;
		}
		h4{
			font-size: 1.5rem;
		}
	}
	
	.aside-header { grid-area: aside-header; }
	.about-me { grid-area: about-me; }
	.project { grid-area: project; }
	.bot-footer { 
		grid-area: bot-footer; 
		background-image: url('https://porfolio2-0-livid.vercel.app/bg-top.jpg');
		background-position: bottom right;
		padding: 10px;
	}
	.top-header { grid-area: top-header; }
	.about-me{
		background-image: url('https://porfolio2-0-livid.vercel.app/stars.svg');
		background-size: contain;
	}


	.facuflix{
		grid-area: facuflix;
		background-image: url('https://porfolio2-0-livid.vercel.app/projects/facuflix.png');
		background-size: cover;
		background-position: center;
	}
	.facuflix:hover{
		background-image:linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 100%), url('https://porfolio2-0-livid.vercel.app/projects/facuflix.png');
		background-size: cover;
		background-position: center;
	}
	.facuclixDescription{
		opacity: 0;
		transition-duration: 1s;
		text-wrap: wrap;

	}
	.facuflix:hover .facuclixDescription{
		opacity: 1;
	}


	.split-bill{
		grid-area: split-bill;
		background-image:url('https://porfolio2-0-livid.vercel.app/projects/split-bill.jpg');
		background-size: cover;
		background-position: center;

	}
	.split-bill:hover{
		background-image:linear-gradient(180deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%),  url('https://porfolio2-0-livid.vercel.app/projects/split-bill.jpg');
		background-size: cover;
		background-position: center;
	}
	.split-billDescription{
		opacity: 0;
		transition-duration: 1s;
		text-wrap: wrap;

	}
	.split-bill:hover .split-billDescription{
		opacity: 1;
	}

	.mm{
		grid-area: mm;
		background-image:url('https://porfolio2-0-livid.vercel.app/projects/mm.jpg');
		background-size: cover;
		background-position: center;
	}
	.mm:hover{
		background-image:linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 100%),  url('https://porfolio2-0-livid.vercel.app/projects/mm.jpg');
		background-size: cover;
		background-position: center;
	}
	.mmDescription{
		opacity: 0;
		transition-duration: 1s;
		text-wrap: wrap;

	}
	.mm:hover .mmDescription{
		opacity: 1;
	}

	.tesla{
		grid-area: tesla;
		background-image:url('https://porfolio2-0-livid.vercel.app/projects/tesla.png');
		background-size: cover;
		background-position: center;
	}
	.tesla:hover{
		background-image:linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 100%),  url('https://porfolio2-0-livid.vercel.app/projects/tesla.png');
		background-size: cover;
		background-position: center;
	}
	.teslaDescription{
		opacity: 0;
		transition-duration: 1s;
		text-wrap: wrap;

	}
	.tesla:hover .teslaDescription{
		opacity: 1;
	}

	.clock{
		background: linear-gradient(to bottom, #7949CB 0%, #1572B6 100%);

		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
	}

	.nombre{
		background: linear-gradient(to right, #D98ACE 0%, #ad69bb 25%, rgb(145, 90, 175) 100%);

		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
	}


</style>
