---
import Layout from "../layouts/Layout.astro";
---
<Layout title="porfi p-25 mt-25">
    <div class="top-header bg-[#1d1c20] border border-[#ffffff18] rounded-2xl p-5 flex flex-col justify-center items-center ">
        <h1 class="text-7xl text-white font-bold facu ">Facundo Ramos Garde</h1>
        <h1 class="text-7xl text-white font-bold nombre">Front-end Developer</h1>
    </div>
</Layout>

<style>
    	    body{
                margin: 10px;
            }
    .nombre{
		background: linear-gradient(to right, #D98ACE 0%, #ad69bb 25%, rgb(145, 90, 175) 100%);

		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
	}
    .facu{
		background: linear-gradient(90deg, rgba(150,85,255,1) 14%, rgba(119,91,218,1) 39%, rgba(131,73,201,1) 76%);

		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
	}
</style>